/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #F4F5F9;
}

li {
    list-style: none;
}

.poppins-regular {
    font-weight: 400;
}

.poppins-semibold {
    font-weight: 600;
}